@using System.Web.UI.WebControls
@model IEnumerable<TestApp2.Models.Customer>


@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<div class="d-flex justify-content-end">
    @Html.ActionLink("Add Customer", "New", "Customers", new { @class = "btn btn-outline-dark" })
</div>
<br />
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table id="customers" class=" table table-bordered rounded table-hover">
        <thead class="table-primary">
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Discount Rate</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Customers", new { id = customer.Id }, new { @class = "btn btn-outline-dark" })</td>
                    <td>
                        @Html.ActionLink(
                            "Delete",
                            "Delete",
                            "Customers",
                            new { id = customer.Id },
                            new {@id="delete-link", @class = "btn btn-outline-dark delete-link", data_confirm = "Are you sure you want to delete this customer?" }
                            )
                    </td>


                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{


    @*<script>
    $(document).ready(function () {
        $(".delete-link").on("click", function (e) {
            e.preventDefault(); // Prevent the link from immediately navigating

            var confirmationMessage = $(this).data("confirm");
            
            bootbox.confirm({
                message: confirmationMessage,
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        // If the user confirms, navigate to the link's href (i.e., execute the delete action)
                        window.location = $(this).attr("href");
                    }
                }
            });
        });
    });
    </script>*@

<script>
    $(document).ready(function () {
        $("#customers").DataTable();
        $(".delete-link").on("click", function (e) {
            e.preventDefault(); // Prevent the link from immediately navigating

            var confirmationMessage = $(this).data("confirm");

            var deleteLink = $(this); // Store a reference to the link for later use

            bootbox.confirm(confirmationMessage, function (result) {
                if (result) {
                    window.location = deleteLink.attr("href");
                }
            });
        });
    });
</script>

    
}

